<div
  class="conteiner-fluid bg-dark"
  style="
    min-height: 100vh;
    background-image: url('/assets/images/experience-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  "
>
  <div
    class="p-3 text-center text-white"
    style="font-family: 'Press Start 2P', cursive"
  >
    <h2>Hands On</h2>
  </div>

  <div class="text-white">
    <p
      class="pb-2"
      style="
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        margin: 2% 15%;
        color: rgb(173, 167, 167);
      "
      [innerHTML]="experience"
    ></p>
  </div>

  <div class="hstack justify-content-center text-white">
    <p class="text-center mb-0">My Links</p>
  </div>

  <div class="hstack justify-content-center" style="height: 100px">
    <a
      style="border-radius: 40px"
      href="https://drive.google.com/file/d/1H0Z9HT24nQaaC8QMeSP9CK4V6V6M6oIS/view?usp=share_link"
      target="_blank"
      rel="noreferrer noopener"
    >
      <div
        class="mylinks"
        style="background-image: url('/assets/images/resume-icon.png')"
      ></div>
    </a>
    <a
      style="border-radius: 40px"
      href="https://www.linkedin.com/in/raphael-novaes-2a581717/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <div
        class="mylinks"
        style="background-image: url('/assets/images/linkedin-icon.png')"
      ></div>
    </a>
    <a
      style="border-radius: 40px"
      href="https://github.com/RaphaelNovaes?tab=repositories"
      target="_blank"
      rel="noreferrer noopener"
    >
      <div
        class="mylinks"
        style="background-image: url('/assets/images/github-white-icon.png')"
      ></div>
    </a>
  </div>

  <div class="hstack justify-content-center text-white">
    <p class="text-center mb-0">Some Brazilian companies I have worked for</p>
  </div>

  <div class="hstack justify-content-center" style="height: 80px">
    <a
      href="https://www.arizona.com.br"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img
        class="companies-links"
        src="/assets/images/arizona.png"
        alt=""
      />
    </a>
    <a
      style="border-radius: 20px"
      href="https://www.conectopdv.com"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img
        class="companies-links"
        src="/assets/images/conecto.jpg"
        alt=""
      />
    </a>
    <a
      style="border-radius: 20px"
      href="https://www.lampadaglobal.com.br"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img
        class="companies-links"
        src="/assets/images/lampada.jpg"
        alt=""
      />
    </a>
    <a
      style="border-radius: 20px"
      href="https://www.tritone.com.br"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img
        class="companies-links"
        src="/assets/images/tritone.jpg"
        alt=""
      />
    </a>
    <a
      style="border-radius: 20px"
      href="https://www.wheaton.com.br"
      target="_blank"
      rel="noreferrer noopener"
    >
      <img
        class="companies-links"
        src="/assets/images/wheaton.jpg"
        alt=""
      />
    </a>
  </div>
</div>
