html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 38px;
    background-color: black;
    scroll-behavior: smooth;
}


:root {
    --bs-dark-rgb: 0, 0, 0 !important;
}


//Debug CSS
// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }
