@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.photo {
  background-image: url("https://api.rnresume.info/images/perfil.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  -webkit-clip-path: polygon(19% -13%, 85% 21%, -18% 202%, 30% 22%);
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  animation-name: leftSlidePolyg;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  width: 100%;
}

.cursor-blinking::after {
  content: "";
  width: 5px;
  height: 17px;
  background: #fff;
  display: inline-block;
  animation: cursor-blink-kf 1.5s steps(2) infinite;
  position: relative !important;
  right: auto;
  top: 5px;
}

.main-title {
  height: fit-content;
  position: relative;
  left: -12vh;
  top: 15vh;
  font-size: 4.6vmin;
  font-weight: 400;
  color: #fff;
}

.title-animation {
  word-wrap: break-word;
  animation-name: leftSlide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.intro {
  width: 100%;
  height: fit-content;
  min-height: 40%;
  position: relative;
  margin-top: 30px;
  align-content: space-around;
  flex-wrap: wrap;
}

.intro pre {
  width: 65%;
  max-width: 65%;
  overflow: hidden;
  align-items: center;
  color: rgb(139, 137, 137);
  font-size: 2vmin;
}

@include media-breakpoint-down(md) {
  .flex-dmd-column {
    flex-direction: column !important;
  }

  .align-items-dmd-center {
    align-items: center !important;
  }

  .justify-content-dmd-center {
    justify-content: center !important;
  }

  .main-title-dmd {
    position: unset !important;
    margin-top: 25px !important;
    max-width: 70% !important;
    font-size: 1.4rem !important;
  }

  .w-dmd-100 {
    width: 100% !important;
  }

  .fs-dmd-intro {
    font-size: 0.9rem !important;
  }

  .al-dmd-center {
    align-items: center !important;
  }

  .intro-dmd {
    min-height: 337px;
  }
}

@keyframes cursor-blink-kf {
  0% {
    opacity: 0;
  }
}

@keyframes leftSlidePolyg {
  100% {
    clip-path: polygon(19% -13%, 85% 21%, -18% 202%, 30% 22%);
  }
}

@keyframes leftSlide {
  100% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  0% {
    margin-left: -100%;
    opacity: 0.1;
  }
}
