<div
  class="container-fluid bg-dark"
  style="
    width: 100%;
    min-height: calc(100vh - 116px);
    background-image: url('assets/images/introduction-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: 0;
    bottom: 0;
  "
>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div
        class="d-flex justify-content-center photo-dmd"
        style="
          width: 100%;
          min-width: 200px;
          max-height: 70vh;
          min-height: 70vh;
          position: relative;
        "
      >
        <div class="photo"></div>
      </div>
    </div>
    <div class="col">
      <div
        class="d-flex flex-column w-dmd-100 al-dmd-center"
        style="width: 100%; height: 100%; position: relative"
      >
        <div class="d-flex flex-column intro intro-dmd">
          <pre
            class="fs-dmd-intro"
            [innerHTML]="mainInnerHtml"
            [class.cursor-blinking]="cursorOn"
            style="margin-bottom: 0px"
          ></pre>

          <div
            class="commandLine-dmd"
            [ngClass]="{
              'visually-hidden': hiddenCommandLine,
              commandLineAnimation: !hiddenCommandLine
            }"
            style="
              width: 430px;
              border-radius: 4px;
              height: 35px;
              padding: 6px;
              box-shadow: 0px 0px 4px -1px inset white;
              position: relative;
              bottom: 50%;
              background-color: black;
              align-self: center;
            "
          >
            <div
              class="cursor-blinking"
              style="
                position: relative;
                border: 1px solid #4f91c9;
                height: 100%;
                padding-left: 4px;
                color: #6b6b6b;
                padding-bottom: 23px;
                font-family: monospace;
              "
            >
              >{{ tempInnerHtml }}
            </div>
          </div>
        </div>

        <div class="d-flex main-title main-title-dmd title-animation">
          <p class="mb-0">
            Hello, I'm
            <span style="color: #e4b534">Raphael Novaes</span>, Back-end
            Developer, based in Los Angeles, CA
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
