<nav class="navbar navbar-expand-md navbar-dark bg-dark bd-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="/introduction" class="navbar-brand">
    <img src="/assets/images/RN2.png" height="50" alt="Home" />
  </a>
  <div class="collapse navbar-collapse " id="navbarCollapse">
    <ul class="navbar-nav ms-auto text-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/introduction" routerLinkActive="active">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/experience" routerLinkActive="active">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/education" routerLinkActive="active">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>
